/* Effective stylesheet produced by snapshot save */
body { background-color: rgb(255, 255, 255); color: rgb(53, 56, 51); font-family: Arial,Helvetica,sans-serif; font-size: 76%; margin: 0px; }
a:link, a:visited { text-decoration: none; color: rgb(76, 107, 135); }
a:hover, a:focus { text-decoration: none; color: rgb(187, 122, 42); }
a:active { text-decoration: none; color: rgb(76, 107, 135); }
a[name] { color: rgb(53, 56, 51); }
a[name]:hover { text-decoration: none; color: rgb(53, 56, 51); }
h1 { font-size: 1.8em; }
ul { list-style-type: disc; }
code, tt { font-size: 1.2em; }
sup { font-size: 0.6em; }
.legalCopy { margin-left: 0.5em; }
.topNav { background-image: url("background.gif"); background-repeat: repeat-x; color: rgb(255, 255, 255); float: left; padding: 10px 0px 0px; width: 100%; clear: right; height: 2.8em; overflow: hidden; }
.bottomNav { margin-top: 10px; background-image: url("background.gif"); background-repeat: repeat-x; color: rgb(255, 255, 255); float: left; padding: 10px 0px 0px; width: 100%; clear: right; height: 2.8em; overflow: hidden; }
.subNav { background-color: rgb(222, 227, 233); border-bottom: 1px solid rgb(158, 173, 192); float: left; width: 100%; overflow: hidden; }
.subNav div { clear: left; float: left; padding: 0px 0px 5px 6px; }
ul.navList, ul.subNavList { float: left; margin: 0px 25px 0px 0px; padding: 0px; }
ul.navList li { list-style: outside none none; float: left; padding: 3px 6px; }
.topNav a:link, .topNav a:active, .topNav a:visited, .bottomNav a:link, .bottomNav a:active, .bottomNav a:visited { color: rgb(255, 255, 255); text-decoration: none; }
.topNav a:hover, .bottomNav a:hover { text-decoration: none; color: rgb(187, 122, 42); }
.navBarCell1Rev { background-image: url("tab.gif"); background-color: rgb(168, 136, 52); color: rgb(255, 255, 255); margin: auto 5px; border: 1px solid rgb(201, 170, 68); }
.header, .footer { clear: both; margin: 0px 20px; padding: 5px 0px 0px; }
.title { color: rgb(44, 69, 87); margin: 10px 0px; }
.contentContainer, .sourceContainer, .classUseContainer, .serializedFormContainer, .constantValuesContainer { clear: both; padding: 10px 20px; position: relative; }
.contentContainer table, .classUseContainer table, .constantValuesContainer table { border-bottom: 1px solid rgb(158, 173, 192); width: 100%; }
.overviewSummary caption, .packageSummary caption, .contentContainer ul.blockList li.blockList caption, .summary caption, .classUseContainer caption, .constantValuesContainer caption { position: relative; text-align: left; background-repeat: no-repeat; color: rgb(255, 255, 255); font-weight: bold; clear: none; overflow: hidden; padding: 0px; margin: 0px; }
.overviewSummary caption span, .packageSummary caption span, .contentContainer ul.blockList li.blockList caption span, .summary caption span, .classUseContainer caption span, .constantValuesContainer caption span { white-space: nowrap; padding-top: 8px; padding-left: 8px; display: block; float: left; background-image: url("titlebar.gif"); height: 18px; }
.overviewSummary .tabEnd, .packageSummary .tabEnd, .contentContainer ul.blockList li.blockList .tabEnd, .summary .tabEnd, .classUseContainer .tabEnd, .constantValuesContainer .tabEnd { width: 10px; background-image: url("titlebar_end.gif"); background-repeat: no-repeat; background-position: right top; position: relative; float: left; }
.altColor { background-color: rgb(238, 238, 239); }
.rowColor { background-color: rgb(255, 255, 255); }
.overviewSummary td, .packageSummary td, .contentContainer ul.blockList li.blockList td, .summary td, .classUseContainer td, .constantValuesContainer td { text-align: left; padding: 3px 3px 3px 7px; }
th.colFirst, th.colLast, th.colOne, .constantValuesContainer th { background: none repeat scroll 0% 0% rgb(222, 227, 233); border-top: 1px solid rgb(158, 173, 192); border-bottom: 1px solid rgb(158, 173, 192); text-align: left; padding: 3px 3px 3px 7px; }
td.colOne a:link, td.colOne a:active, td.colOne a:visited, td.colOne a:hover, td.colFirst a:link, td.colFirst a:active, td.colFirst a:visited, td.colFirst a:hover, td.colLast a:link, td.colLast a:active, td.colLast a:visited, td.colLast a:hover, .constantValuesContainer td a:link, .constantValuesContainer td a:active, .constantValuesContainer td a:visited, .constantValuesContainer td a:hover { font-weight: bold; }
td.colFirst, th.colFirst { border-left: 1px solid rgb(158, 173, 192); white-space: nowrap; }
td.colLast, th.colLast { border-right: 1px solid rgb(158, 173, 192); }
table.overviewSummary { padding: 0px; margin-left: 0px; }
table.overviewSummary td.colFirst, table.overviewSummary th.colFirst, table.overviewSummary td.colOne, table.overviewSummary th.colOne { width: 25%; vertical-align: middle; }
table.packageSummary td.colFirst, table.overviewSummary th.colFirst { width: 25%; vertical-align: middle; }
.block { display: block; margin: 3px 0px 0px; }
