/* Effective stylesheet produced by snapshot save */
body { background-color: rgb(255, 255, 255); color: rgb(53, 56, 51); font-family: Arial,Helvetica,sans-serif; font-size: 76%; margin: 0px; }
a:link, a:visited { text-decoration: none; color: rgb(76, 107, 135); }
a:hover, a:focus { text-decoration: none; color: rgb(187, 122, 42); }
a:active { text-decoration: none; color: rgb(76, 107, 135); }
h1 { font-size: 1.8em; }
ul { list-style-type: disc; }
.bar { background-image: url("background.gif"); background-repeat: repeat-x; color: rgb(255, 255, 255); padding: 0.8em 0.5em 0.4em 0.8em; height: auto; font-size: 1em; margin: 0px; }
.indexContainer { margin: 10px; position: relative; font-size: 1em; }
.indexContainer ul { margin: 0px; padding: 0px; }
.indexContainer ul li { list-style: outside none none; }
