/* Effective stylesheet produced by snapshot save */
body { background-color: rgb(255, 255, 255); color: rgb(53, 56, 51); font-family: Arial,Helvetica,sans-serif; font-size: 76%; margin: 0px; }
a:link, a:visited { text-decoration: none; color: rgb(76, 107, 135); }
a:hover, a:focus { text-decoration: none; color: rgb(187, 122, 42); }
a:active { text-decoration: none; color: rgb(76, 107, 135); }
h2 { font-size: 1.5em; }
ul { list-style-type: disc; }
.indexHeader { margin: 10px; position: relative; }
.indexContainer { margin: 10px; position: relative; font-size: 1em; }
.indexContainer h2 { font-size: 1.1em; padding: 0px 0px 3px; }
.indexContainer ul { margin: 0px; padding: 0px; }
.indexContainer ul li { list-style: outside none none; }
