/* Effective stylesheet produced by snapshot save */
body { color: Black; font-family: Arial,sans-serif; font-size: 10pt; background: url("expert-draft-bg.png") repeat scroll 0% 0% transparent; }
table { margin: 10px 2px; }
table th, table td { font-size: 10pt; vertical-align: top; padding: 3px 10px; }
