/* Effective stylesheet produced by snapshot save */
body { color: Black; font-family: Arial,sans-serif; font-size: 10pt; background: url("expert-draft-bg.png") repeat scroll 0% 0% transparent; }
hr { color: black; }
h1 { font-size: 18pt; letter-spacing: 2px; border-bottom: 1px solid rgb(204, 204, 204); padding-top: 5px; padding-bottom: 5px; }
table { margin: 10px 2px; }
table th, table td { font-size: 10pt; vertical-align: top; padding: 3px 10px; }
table th { font-weight: bold; text-align: left; }
.changed_added_2_2 { cursor: url("changed_added_2_2_cursor.cur.txt"), auto; background: url("changed_added_2_2.png") repeat scroll 0% 0% transparent; padding-left: 0.2em; border-left: thin solid green; border-right: medium none green; border-width: medium medium medium thin; border-style: none none none solid; border-color: green; }
.changed_modified_2_2 { cursor: url("changed_modified_2_2_cursor.cur.txt"), auto; background: url("changed_modified_2_2.png") repeat scroll 0% 0% transparent; padding-left: 0.2em; border-left: thin solid orange; border-right: medium none orange; border-width: medium medium medium thin; border-style: none none none solid; border-color: orange; }
.changed_deleted_2_2 { cursor: url("changed_deleted_2_2_cursor.cur.txt"), auto; background: url("changed_deleted_2_2.png") repeat scroll 0% 0% transparent; padding-left: 0.2em; border-left: thin solid red; border-right: medium none red; border-width: medium medium medium thin; border-style: none none none solid; border-color: red; text-decoration: line-through; }
